@font-face {
    font-family: "Montserrat-Regular";
    src: url("fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("fonts/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("fonts/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

.header__wrapper {
    display: flex;
    flex-flow: column wrap;
}

.menu__burger {
    display: none;
}

.header__main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    padding: 30px 0;
}

.header__main h4 {
    font-family: "Montserrat-Medium";
    font-size: 20px;
    color: #484848;
}

.header__contacts h6 {
    font-family: "Montserrat-Regular";
    font-size: 18px;
    color: black;
    margin-top: 10px;
}

.header__mail {
    font-family: "Montserrat-Medium";
    font-size: 18px;
    color: black;
}

.header__mail a,
.header__phone a {
    font-family: "Montserrat-Bold";
    font-size: 18px;
    color: rgb(89, 144, 196);
}

.header__mail a:hover,
.header__phone a:hover {
    text-decoration: underline;
}

.header__phone {
    margin-top: 10px;
}

.menu__body ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.menu__link a {
    font-family: "Montserrat-SemiBold";
    font-size: 20px;
    color: #484848;
    transition: all 0.2s linear 0s;
}

.menu__link a:hover {
    color: #8d8d8d;
}

.header__search {
    width: 90%;
    margin: 50px auto 0 auto;
}

.header__search input {
    background: url(../img/search.svg) no-repeat center left;
    font-family: "Montserrat-Medium";
    font-size: 16px;
    color: #484848;
    background-color: #F2F2F2;
    border: 1px solid #000000;
    border-radius: 65px;
    width: 90%;
    padding: 10px 10px 10px 40px;
}

.ads {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 80%;
    margin: 100px auto 0 auto;
}

.ads__actual h1 {
    font-family: "Montserrat-SemiBold";
    font-size: 20px;
    color: #484848;
    margin-bottom: 40px;
}

.ads__slider span {
    margin-left: 20px;
}

.ads__slider span:first-child {
    margin-right: 20px;
}

.ads__slider h3 {
    font-family: "Montserrat-Medium";
    font-size: 18px;
    color: #45567A;
    line-height: 30px;
    margin-top: 30px;
}

.ads__slider p {
    font-family: "Montserrat-Regular";
    font-size: 16px;
    color: #484848;
}

.ads__announcement h1 {
    font-family: "Montserrat-SemiBold";
    font-size: 20px;
    color: #484848;
    margin-bottom: 40px;
}

.ads__block {
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 21px 15px;
    margin-bottom: 20px;
}

.ads__block:last-child {
    margin-bottom: 0;
}

.ads__block h3 {
    font-family: "Montserrat-Medium";
    font-size: 16px;
    color: #45567A;
}

.ads__block p {
    font-family: "Montserrat-Regular";
    font-size: 14px;
    color: #484848;
    margin-top: 20px;
}

.news {
    width: 80%;
    margin: 100px auto 0 auto;
}

.news h1 {
    font-family: "Montserrat-SemiBold";
    font-size: 20px;
    color: #484848;
    margin-bottom: 47px;
}

.news__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.news__row {
    margin-bottom: 30px;
}

.news__row:last-child {
    margin-bottom: 0;
}

.news__block {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
}

.news__block img {
    display: block;
    margin: 0 auto;
}

.news__block p {
    font-family: "Montserrat-Regular";
    font-size: 15px;
    color: #484848;
    margin-top: 15px;
}

.news__block h3 {
    font-family: "Montserrat-Medium";
    font-size: 15px;
    color: #45567A;
    margin-top: 25px;
}

.news__block h6 {
    font-family: "Montserrat-Regular";
    font-size: 15px;
    color: #484848;
    margin-top: 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
    margin: 80px auto 0 auto;
}

.footer__text {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.footer__text a {
    margin-right: 50px;
}

.footer__text h4 {
    font-family: "Montserrat-SemiBold";
    font-size: 18px;
    color: #484848;
}

.footer__lang h1 {
    font-family: "Montserrat-SemiBold";
    font-size: 20px;
    color: #45567A;
}

.footer__lang h2 {
    font-family: "Montserrat-Regular";
    font-size: 20px;
    color: #484848;
    margin-top: 15px;
}

.footer__warpper {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.footer__icons {
    display: flex;
    flex-flow: column wrap;
    margin-right: 50px;
}

.footer__icons a {
    color: black;
    margin-bottom: 15px;
    transition: all 0.3s linear 0s;
}

.footer__icons a:hover {
    color: #717171;
}